.container {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    margin-right: 1rem;
    border: 1px solid #ffffff;
    border-radius: 0.375rem;
    padding: 0.625rem 1rem;

    span {
        font-size: 0.875rem;
        color: white;
        font-weight: bold;
    }

    img {
        border-radius: 50%;
        min-width: 20px;
        min-height: 20px;
    }
    svg {
        width: 24px;
        height: 24px;
    }

    &:hover {
        background-color: rgba(#000, 0.075);
    }
}

.mobile {
    padding: 0.4375rem;
    margin: 0 0 0 0.5625rem;

    span {
        display: none;
    }
}
