@use "../../../styles/Color" as color;
@use "../../../styles/Modal" as modal;
@use "../../../styles/Button" as button;

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;

    h3 {
        font-size: 1.25rem;
        color: #333333;
    }
    svg {
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        color: color.$font-accent;
    }
}
.link_button {
    @include button.basic;
    width: 100%;
    letter-spacing: 0.1em;

    &:disabled {
        cursor: wait;
    }
}
.link_container {
    margin-top: 1rem;

    label {
        font-size: 0.75rem;
        color: #66686a;
        margin-bottom: 0.4375rem;
    }
}
.link {
    display: flex;
    border-radius: 0.25rem;
    border: 1px solid #e5e6e6;
    padding: 0.375rem;
    background-color: #f2f2f2;

    input {
        border-radius: 0.25rem 0 0 0.25rem;
        font-size: 0.9375rem;
        padding: 10px;
        color: #313466;
        flex: 1;
    }
    button {
        @include button.basic;
        flex: 0;
        font-weight: bold;
        font-size: 0.875rem;
        padding: 0.625rem 1rem;
        background-color: rgb(71, 71, 71);
        color: white;
    }
}

.reference_container {
    margin-top: 1rem;
    padding: 1rem 1rem 0;
    border: 1px solid #e5e6e6;
    border-radius: 0.25rem;
    height: fit-content;
    overflow-y: hidden;
    min-height: 50px;

    .placeholder {
        display: flex;
        align-items: center;
        width: 100%;

        span {
            font-size: 0.875rem;
            color: #313466;
            font-weight: bold;
            text-align: left;
            flex: 1;
        }
    }
    .panel {
        transition: max-height 0.2s ease-out;
        max-height: 0;

        section:last-child {
            margin-bottom: 1rem;
        }
    }
}

.info_method {
    div {
        margin-bottom: 10px;
    }
    span {
        display: inline-block;
        padding: 5px 10px;
        color: white;
        border-radius: 3px;
        margin-right: 10px;
    }
}
.table_guide {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    th,
    td {
        border: 1px solid gray;
        padding: 5px;
    }
    td {
        font-weight: default;
    }
}

.social_media {
    margin: 1.5rem 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;

    .social_icon {
        position: relative;
        cursor: pointer;

        label {
            position: absolute;
            bottom: -1.2rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 0.75rem;
            color: #191a1a;
        }
    }
}

.qrcode_title {
    display: block;
    color: #191a1a;
    font-size: 0.9375rem;
    text-align: center;
    margin-top: 3.5rem;
}
.qrcode_button {
    display: block;
    margin: auto;
}
.qrcode {
    display: flex;
    justify-content: center;

    canvas {
        width: 250px;
        height: 250px;
    }
}
