@use "../styles/Button" as button;

.container {
    padding: 1.8125rem;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    width: 25rem;

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 1.875rem;

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            color: #333;
            margin: 0 auto;
        }

        svg {
            width: 1.875rem;
            height: 1.875rem;
            color: #9963fc;
            cursor: pointer;
        }
    }

    p {
        font-size: 0.75rem;
        color: #666;
        margin-bottom: 1.75rem;
        text-align: center;
    }

    .button {
        @include button.basic;
        width: 100%;
        margin-top: 1.5rem;
        box-shadow: 0px 2px 8px rgba(148, 120, 239, 0.4);
        font-size: 0.875rem;
        padding: 0.875rem 0;
        max-height: 3rem;
    }
}

@media screen and (max-width: 460px) {
    .container {
        padding: 1rem;
    }
}
