.container {
    position: relative;
    align-items: center;
    display: flex;
    z-index: 2;
    padding: 0 2.125rem;
    height: 6.9375rem;
    width: 100%;
}
.logo {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    svg {
        transform: translateX(50%);
    }
}
.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;

    .info {
        color: white;
        margin: 0 0.8rem;
    }
    .name {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .email {
        font-size: 1rem;
    }
    .image {
        width: 2.8rem;
        height: 2.8rem;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        cursor: pointer;
    }

    .arrow {
        position: relative;

        svg {
            color: white;
        }
    }
    .panel {
        display: none;
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 0.8rem 1rem;
        position: absolute;
        top: 150%;
        right: 0;
        cursor: pointer;
        width: max-content;
    }
}

@media screen and (max-width: 1400px) {
    .logo {
        justify-content: flex-start;

        svg {
            transform: none;
        }
    }
}
@media screen and (max-width: 540px) {
    .profile {
        .name,
        .email {
            display: none;
        }
    }
}
