@use "../../styles/Color" as color;

.container {
    position: fixed;
    background: #fff;
    z-index: 100;
    top: 0;
    left: -17.125rem;
    height: 100%;
    width: 17.125rem;
    padding: 1.375rem;
    border-radius: 5px 0.3125rem 0 0;
    transition: 0.5s;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}
.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.1875rem;

    .close {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        right: 0;
        color: color.$font-accent;
        cursor: pointer;
    }
}
.body {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    button {
        width: 100%;
        height: 3rem;
    }
}
