$accent: #7b6ee3;
$accent-dark: #6458c0;
$accent-gradient: linear-gradient(180deg, #aa80f9 0%, #756ce0 100%);
$font-accent: #313466;
$dark: rgba(0, 0, 0, 0.05);
$background: #e5e5e5;
$shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
$shadow-s: 0 2px 10px 1px rgba(0, 0, 0, 0.01);
$shadow-l: 0px 4px 6px rgba(0, 0, 0, 0.07);
