@mixin page_container {
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    font-family: "Ubuntu";
    overflow: hidden;
}
@mixin page_container_responsive {
    justify-content: center;
    overflow-y: auto;
    padding: 2rem 0;
}

@mixin background {
    background-image: url("../public/images/login_background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
}
@mixin background_responsive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin main_container {
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    max-width: 34.25rem;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}
@mixin main_container_responsive {
    height: fit-content;
    max-width: 90%;
    padding: 0;
    background-color: transparent;
}
